{% extends 'planner/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
    <div class="row min-vh-100">
        
        <!-- Left side (branding/info) -->
        <div class="col-md-6 bg-primary text-white d-flex flex-column justify-content-center p-5">
        <h1>Welcome to WonderWaves</h1>
        <p>Discover and book your next adventure easily.</p>
        </div>

        <!-- Right side (form) -->
        <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="card p-4 shadow">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{% url 'users-login'%}">log In</a>
                </small>
            </div>
            </div>
        </div>
        </div>

    </div>
</div>
{% endblock content %}