{% extends "homepg/base.html" %}
{%block content %}
    <section>
<!--this is a section that will contain the content for the home page -->
        <div class="container">
            <h1>This is a container </h1>
            <p>This container will hold an image</p>
        </div>
        
        <div class="container">
            <h1>This is a container</h1>
            <p>This container will hold an image </p>
        </div>

        <div class="container">
            <h1>This is a container</h1>
            <p>This container will hold an image </p>
        </div>
       
    </section>
{% endblock content %}