{% extends 'planner/base_auth.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-beach-peach py-3 sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            Wonder Waves
        </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active"
                   href="{% url 'planner-home' %}">
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   href="{% url 'nav-bookings' %}">
                    Booking
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   data-bs-toggle="dropdown">
                    Contact us
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                           href="{% url 'planner-about' %}">
                            About us
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item"
                           href="{% url 'popular-destinations' %}">
                            Most Popular Destination
                        </a>
                    </li>

                    <li><hr class="dropdown-divider"></li>

                    <li>
                        <a class="dropdown-item"
                           href="{% url 'newsletter' %}">
                            Newsletter
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <form class="d-flex">
            <input class="form-control me-2"
                   type="search"
                   placeholder="Search">

            <button class="btn btn-outline-success"
                    type="submit"
                    style="color: black;">
                Search
            </button>
        </form>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            {% if user.is_authenticated %}

                <form action="{% url 'users-logout' %}"
                      method="post"
                      class="d-inline">

                    {% csrf_token %}

                    <button type="submit"
                            class="nav-item nav-link btn btn-link">
                        Logout
                    </button>
                </form>

                <a class="nav-item nav-link"
                   href="{% url 'users-profile' %}">
                    Profile
                </a>

            {% else %}

                <a class="nav-item nav-link"
                   href="{% url 'users-login' %}">
                    Login
                </a>

                <a class="nav-item nav-link"
                   href="{% url 'users-register' %}">
                    Register
                </a>

            {% endif %}

        </ul>
    </div>
</div>
```

</nav>

<main class="flex-grow-1">
    {% block page_content %}
    {% endblock %}
</main>

<footer class="bg-light text-center py-4 mt-auto">
    <div class="container text-center">
        <div class="row align-items-start">

```
        <div class="col">
            <h6>Wonderwaves</h6>
        </div>

        <div class="col">
            <h6 class="row">Quick Links</h6>
            <a class="row text-dark text-decoration-none" href="{% url 'planner-home' %}">Home</a>
            <a class="row text-dark text-decoration-none" href="{% url 'planner-about' %}">About us</a>
            <a class="row text-dark text-decoration-none" href="{% url 'users-profile' %}">Profile</a>
            <a class="row text-dark text-decoration-none" href="{% url 'users-logout' %}">Logout</a>
            <a class="row text-dark text-decoration-none" href="{% url 'users-login' %}">Log in</a>
        </div>

        <div class="col">
            <h6 class="row">Explore more</h6>
            <a class="row text-dark text-decoration-none" href="{% url 'popular-destinations' %}">Destinations</a>
            <a class="row text-dark text-decoration-none" href="#">Activities</a>
            <a class="row text-dark text-decoration-none" href="#">Travel Guides</a>
            <a class="row text-dark text-decoration-none" href="#">Blog</a>
        </div>

        <div class="col">
            <h6 class="row">Stay connected</h6>
            <a class="row text-dark text-decoration-none" href="#">Facebook</a>
            <a class="row text-dark text-decoration-none" href="#">Twitter</a>
            <a class="row text-dark text-decoration-none" href="#">Instagram</a>
            <a class="row text-dark text-decoration-none" href="#">LinkedIn</a>
        </div>

        <div class="Sub-to-newsletter col">
            <h6>Join our newsletter for the latest travel updates and exclusive deals</h6>

            <div class="container">
                <form class="d-flex">
                    <input class="form-control me-2"
                           type="email"
                           placeholder="Enter your email">

                    <button class="btn btn-outline-success"
                            type="submit">
                        Subscribe
                    </button>
                </form>
            </div>

            <h6>
                By subscribing, you agree to our Privacy Policy and
                consent to receiving our updates
            </h6>
        </div>

    </div>

    <p>&copy; 2023 Wonderwaves. All rights reserved.</p>
</div>
```

</footer>

{% endblock content %}
