{% extends 'planner/base.html' %}

{% block content %}
    <div>
        <h2>Discover your next adventure with wonderwaves</h2>
        <p>
            Wonderwaves is your ultimate travel companion, 
            designed to make your journey unforgettable.
            Whether you're a seasoned traveler or planning your first trip,
            our platform offers a seamless experience to explore,plan, and book your next adventure.
            With a wide range of destinations, personalized recommendations, and user-friendly features,
            Wonderwaves is here to help you create memories that will last a lifetime.
            Start your journey with us today and let the waves of wonder take you to new horizons!
        </p>
    </div>
{% endblock %}