{% extends 'planner/base.html' %}

{% block page_content %}


<h2 class="text-start fw-bold text-uppercase mt-5 px-3 ">
    Welcome to Wonder Waves! Your ultimate travel planning companion.
</h2>

 <h4 class="fw-bold mt-4 mx-3">Why Wonder Waves?</h4>
<div class="container">
  <div class="row">
    <div class="col p-3 my-3 mx-3 bg-beach-peach text-dark">
       
        <P>Wonder Waves offers the most comprehensive travel planning tools to make your journey seamless and unforgettable.</P>
    </div>
    <div class="col p-3 my-3 mx-3 bg-beach-peach border">
      Column
    </div>
    <div class="col p-3 my-3 mx-3 bg-beach-peach text-dark">
      Column
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light py-4">
    <ul class="navbar-nav mx-auto mb-4 mb-lg-0 ">
        <li class="nav-item col mx-3">
            <a class="text-decoration-none text-dark fw-light">Coastal</a>
        </li>
        <li class="nav-item col mx-5">
            <a class="text-decoration-none text-dark fw-light">Safaris</a>
        </li>
        <li class="nav-item col mx-5">
            <a class="text-decoration-none text-dark fw-light">Historical Tours</a>
        </li>
        <li class="nav-item col mx-5">
            <a class="text-decoration-none text-dark fw-light">Backpacking</a>
        </li>
    </ul>
</nav>
{% endblock %}
